/web/bundles/
/app/bootstrap.php.cache
/app/data/*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/node_modules
/web/bower_components
/web/css/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
