{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Todo App</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
