{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Todo App</h1>
        </div>
    </div>
</div>
{% verbatim %}
<div class="row" ng-app="todo">
    <div class="large-12 columns">
        <table ng-controller="TodoController as todoCtrl">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todoCtrl.items">
                    <td>{{ item.title }}</td>
                    <td>{{ item.created_at  | date:'short' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endverbatim %}
{% endblock %}
